//- start trending 
.home#home 
    .container 
        img(src="images/img/home.png", alt="")
        .content 
            div city of the 
            div future 
            .btn avilable now
//- end trending 
.trending#trending.pb-5
    .container 
        .r-btn &gt;
        .l-btn  &lt;
        .head.d-flex.text-capitalize.align-items-center.pt-5.pb-3.justify-content-evenly
            |
            <i class="fa-solid fa-house"></i>
            h3 trending games
        
        .cont
            .boxs.d-flex.gap-4 
                .box.position-relative 
                    img(src="images/img/trending2.jpg", alt="")
                    .up.position-absolute.w-100 
                        h5 Battlefield
                        h5 Action 
                        .d-flex.justify-content-between.align-items-center 
                            .rate.text-warning 
                                <i class="fa-solid fa-star"></i> 4.7 
                            |
                            |
                            <i class="fa-solid fa-arrow-down text-danger down"></i>
                .box.position-relative 
                    img(src="images/img/trending3.jpg", alt="")
                    .up.position-absolute.w-100 
                        h5 Creed
                        h5 Action 
                        .d-flex.justify-content-between.align-items-center 
                            .rate.text-warning 
                                <i class="fa-solid fa-star"></i> 4.7 
                            |
                            |
                            <i class="fa-solid fa-arrow-down text-danger down"></i>
                .box.position-relative 
                    img(src="images/img/trending4.jpg", alt="")
                    .up.position-absolute.w-100 
                        h5 GHOST
                        h5 Action 
                        .d-flex.justify-content-between.align-items-center 
                            .rate.text-warning 
                                <i class="fa-solid fa-star"></i> 4.7 
                            |
                            |
                            <i class="fa-solid fa-arrow-down text-danger down"></i>
                .box.position-relative 
                    img(src="images/img/trending5.png", alt="")
                    .up.position-absolute.w-100 
                        h5 GTA V
                        h5 Action 
                        .d-flex.justify-content-between.align-items-center 
                            .rate.text-warning 
                                <i class="fa-solid fa-star"></i> 4.7 
                            |
                            |
                            <i class="fa-solid fa-arrow-down text-danger down"></i>
                .box.position-relative 
                    img(src="images/img/trending6.jpg", alt="")
                    .up.position-absolute.w-100 
                        h5 Dying Light2
                        h5 Action 
                        .d-flex.justify-content-between.align-items-center 
                            .rate.text-warning 
                                <i class="fa-solid fa-star"></i> 4.7 
                            |
                            |
                            <i class="fa-solid fa-arrow-down text-danger down"></i>
                .box.position-relative 
                    img(src="images/img/trending7.png", alt="")
                    .up.position-absolute.w-100 
                        h5 Halo Infinite
                        h5 Action 
                        .d-flex.justify-content-between.align-items-center 
                            .rate.text-warning 
                                <i class="fa-solid fa-star"></i> 4.7 
                            |
                            |
                            <i class="fa-solid fa-arrow-down text-danger down"></i>
                .box.position-relative 
                    img(src="images/img/trending8.png", alt="")
                    .up.position-absolute.w-100 
                        h5 Resident Evil Village
                        h5 Action 
                        .d-flex.justify-content-between.align-items-center 
                            .rate.text-warning 
                                <i class="fa-solid fa-star"></i> 4.7 
                            |
                            |
                            <i class="fa-solid fa-arrow-down text-danger down"></i>
                .box.position-relative 
                    img(src="images/img/trending2.jpg", alt="")
                    .up.position-absolute.w-100 
                        h5 Battlefield
                        h5 Action 
                        .d-flex.justify-content-between.align-items-center 
                            .rate.text-warning 
                                <i class="fa-solid fa-star"></i> 4.7 
                            |
                            |
                            <i class="fa-solid fa-arrow-down text-danger down"></i>
                .box.position-relative 
                    img(src="images/img/trending3.jpg", alt="")
                    .up.position-absolute.w-100 
                        h5 Creed
                        h5 Action 
                        .d-flex.justify-content-between.align-items-center 
                            .rate.text-warning 
                                <i class="fa-solid fa-star"></i> 4.7 
                            |
                            |
                            <i class="fa-solid fa-arrow-down text-danger down"></i>
                .box.position-relative 
                    img(src="images/img/trending4.jpg", alt="")
                    .up.position-absolute.w-100 
                        h5 GHOST
                        h5 Action 
                        .d-flex.justify-content-between.align-items-center 
                            .rate.text-warning 
                                <i class="fa-solid fa-star"></i> 4.7 
                            |
                            |
                            <i class="fa-solid fa-arrow-down text-danger down"></i>
                .box.position-relative 
                    img(src="images/img/trending5.png", alt="")
                    .up.position-absolute.w-100 
                        h5 GTA V
                        h5 Action 
                        .d-flex.justify-content-between.align-items-center 
                            .rate.text-warning 
                                <i class="fa-solid fa-star"></i> 4.7 
                            |
                            |
                            <i class="fa-solid fa-arrow-down text-danger down"></i>
                .box.position-relative 
                    img(src="images/img/trending6.jpg", alt="")
                    .up.position-absolute.w-100 
                        h5 Dying Light2
                        h5 Action 
                        .d-flex.justify-content-between.align-items-center 
                            .rate.text-warning 
                                <i class="fa-solid fa-star"></i> 4.7 
                            |
                            |
                            <i class="fa-solid fa-arrow-down text-danger down"></i>
                .box.position-relative 
                    img(src="images/img/trending7.png", alt="")
                    .up.position-absolute.w-100 
                        h5 Halo Infinite
                        h5 Action 
                        .d-flex.justify-content-between.align-items-center 
                            .rate.text-warning 
                                <i class="fa-solid fa-star"></i> 4.7 
                            |
                            |
                            <i class="fa-solid fa-arrow-down text-danger down"></i>
                .box.position-relative 
                    img(src="images/img/trending8.png", alt="")
                    .up.position-absolute.w-100 
                        h5 Resident Evil Village
                        h5 Action 
                        .d-flex.justify-content-between.align-items-center 
                            .rate.text-warning 
                                <i class="fa-solid fa-star"></i> 4.7 
                            |
                            |
                            <i class="fa-solid fa-arrow-down text-danger down"></i>

//- end trending 

//- start new games


.newGames.pb-5#newGames
    .container
        .head.d-flex.text-capitalize.align-items-center.pt-5.pb-3.justify-content-evenly
            |
            <i class="fa-solid fa-house"></i>
            h3 New Games

        .boxs.d-flex.flex-wrap.gap-4.justify-content-center 
            .box.position-relative.supway 
                img(src="images/img/new1.jpg", alt="")
                .up.position-absolute.w-100 
                    h5 Supway Surfess
                    h5 Action 
                    .d-flex.justify-content-between.align-items-center 
                        .rate.text-warning 
                            <i class="fa-solid fa-star"></i> 4.7 
                        |
                        |
                        <i class="fa-solid fa-arrow-down text-danger down"></i>
            .box.position-relative 
                img(src="images/img/new2.jpg", alt="")
                .up.position-absolute.w-100 
                    h5 Call Of Duty
                    h5 Action 
                    .d-flex.justify-content-between.align-items-center 
                        .rate.text-warning 
                            <i class="fa-solid fa-star"></i> 4.7 
                        |
                        |
                        <i class="fa-solid fa-arrow-down text-danger down"></i>
            .box.position-relative 
                img(src="images/img/new3.jpg", alt="")
                .up.position-absolute.w-100 
                    h5 Free Guy
                    h5 Action 
                    .d-flex.justify-content-between.align-items-center 
                        .rate.text-warning 
                            <i class="fa-solid fa-star"></i> 4.7 
                        |
                        |
                        <i class="fa-solid fa-arrow-down text-danger down"></i>
            .box.position-relative 
                img(src="images/img/new4.jpg", alt="")
                .up.position-absolute.w-100 
                    h5 Clash Royale
                    h5 Action 
                    .d-flex.justify-content-between.align-items-center 
                        .rate.text-warning 
                            <i class="fa-solid fa-star"></i> 4.7 
                        |
                        |
                        <i class="fa-solid fa-arrow-down text-danger down"></i>
            .box.position-relative 
                img(src="images/img/new5.png", alt="")
                .up.position-absolute.w-100 
                    h5 Minecraft
                    h5 Action 
                    .d-flex.justify-content-between.align-items-center 
                        .rate.text-warning 
                            <i class="fa-solid fa-star"></i> 4.7 
                        |
                        |
                        <i class="fa-solid fa-arrow-down text-danger down"></i>
            .box.position-relative 
                img(src="images/img/new6.png", alt="")
                .up.position-absolute.w-100 
                    h5 PUBG
                    h5 Action 
                    .d-flex.justify-content-between.align-items-center 
                        .rate.text-warning 
                            <i class="fa-solid fa-star"></i> 4.7 
                        |
                        |
                        <i class="fa-solid fa-arrow-down text-danger down"></i>
            .box.position-relative 
                img(src="images/img/new7.png", alt="")
                .up.position-absolute.w-100 
                    h5 Fortnite
                    h5 Action 
                    .d-flex.justify-content-between.align-items-center 
                        .rate.text-warning 
                            <i class="fa-solid fa-star"></i> 4.7 
                        |
                        |
                        <i class="fa-solid fa-arrow-down text-danger down"></i>
            .box.position-relative 
                img(src="images/img/new8.jpg", alt="")
                .up.position-absolute.w-100 
                    h5 Marvel Of Champions 
                    h5 Action 
                    .d-flex.justify-content-between.align-items-center 
                        .rate.text-warning 
                            <i class="fa-solid fa-star"></i> 4.7 
                        |
                        |
                        <i class="fa-solid fa-arrow-down text-danger down"></i>

//- end new games

.bt.d-flex.justify-content-ceenter
    .btn.main-btn.bg-danger.text-light.text-center.text-capitalize.ms-auto.me-auto 
        |next page



