.footer.pt-5.pb-3     
    .container 
        .d-flex.justify-content-evenly.align-items-center.flex-wrap 
            
            .logo(class="text-uppercase") game 
                span(class="red") store 
            .col1 
                |© 2022 Copyright: by 
                span.danger Abdelrahman Sameh